/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #1a202c;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  font-family: PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
  background: #f8f9fa;
}

pre[class*="language-"] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 85%;
  border: 1px solid #e2e8f0;
  position: relative;
}

pre[class*="language-"] label[class="language"] {
  position: absolute;
  font-size: 0.8em;
  color: #b3b2b2;
  right: 0.5em;
  top: 0.5em;
  user-select: none;
}

p code,
li code,
table code {
  margin: 0 0.2em;
  border-radius: 3px;
  padding: 0.2em 0;
  font-size: 85%;
  background: #edf2f7;
}
p code:before,
p code:after,
li code:before,
li code:after,
table code:before,
table code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

/* code,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f7fafc;
} */

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a737d;
}
.token.punctuation,
.token.string,
.token.atrule,
.token.attr-value {
  color: #005cc5;
}
.token.property,
.token.tag {
  color: #22863a;
}
.token.boolean,
.token.number {
  color: #0086b3;
}
.token.selector,
.token.attr-name,
.token.attr-value .punctuation:first-child,
.token.keyword,
.token.regex,
.token.important {
  color: #6f42c1;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string {
  color: #d73a49;
}
.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}
