@import url("//fonts.googleapis.com/css?family=DM+Sans:300,400,500|Josefin+Sans:300i,400,400i&display=swap");
@import url("//at.alicdn.com/t/font_1282065_j7715jpxhlf.css");
@import url("/reset.css");
@import url("/highlight-light.css");
@import url("/highlight-dark.css");

* {
  box-sizing: border-box;
}

*::selection {
  background: #2f3747;
  color: #fff;
}

a {
  text-decoration: none;
}

html {
  font-family: "DM Sans", -apple-system, Helvetica, "Helvetica Neue",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
}
